EC Endpoint Client/Service References/ReporteeArchiveStreamed/ReporteeArchiveExternalStreamedEC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReporteeArchiveExternalStreamedEC" targetNamespace="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IReporteeArchiveExternalStreamedEC_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:RequireDerivedKeys />
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpToken />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:RequireThumbprintReference />
                            <sp:WssX509V3Token10 />
                          </wsp:Policy>
                        </sp:X509Token>
                        <sp:SignedParts>
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy>
                        <sp:MustSupportRefThumbprint />
                      </wsp:Policy>
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06/Imports">
      <xsd:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd0" namespace="http://www.altinn.no/services/2009/10" />
      <xsd:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd2" namespace="http://www.altinn.no/services/common/fault/2009/10" />
      <xsd:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd3" namespace="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06" />
      <xsd:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_Test_InputMessage">
    <wsdl:part xmlns:q1="http://www.altinn.no/services/2009/10" name="parameters" element="q1:Test" />
  </wsdl:message>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_Test_OutputMessage">
    <wsdl:part xmlns:q2="http://www.altinn.no/services/2009/10" name="parameters" element="q2:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_Test_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q3:AltinnFault" />
  </wsdl:message>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentDataECStreamed" />
  </wsdl:message>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentDataECStreamedResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q4:AltinnFault" />
  </wsdl:message>
  <wsdl:portType name="IReporteeArchiveExternalStreamedEC">
    <wsdl:documentation>&lt;summary&gt;
            Service contract for Reportee Archive with enterprise certificate retrieves form task data belonging to reportees.
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" message="tns:IReporteeArchiveExternalStreamedEC_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestResponse" message="tns:IReporteeArchiveExternalStreamedEC_Test_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestAltinnFaultFault" name="AltinnFaultFault" message="tns:IReporteeArchiveExternalStreamedEC_Test_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentDataECStreamed">
      <wsdl:documentation>&lt;summary&gt;
            Retrieves one streamed binary attachment based on the attachmentId provided.
            &lt;/summary&gt;
            &lt;param name="userName"&gt;
            User name is the relevant user name for the enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="password"&gt;
            System password is the password for the corresponding enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="attachmentId"&gt;
            The unique identifier for the attachement to get - optional parameter
            &lt;/param&gt;
            &lt;returns&gt;
            Retrieves one streamed binary attachment
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06/IReporteeArchiveExternalStreamedEC/GetAttachmentDataECStreamed" message="tns:IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06/IReporteeArchiveExternalStreamedEC/GetAttachmentDataECStreamedResponse" message="tns:IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06/IReporteeArchiveExternalStreamedEC/GetAttachmentDataECStreamedAltinnFaultFault" name="AltinnFaultFault" message="tns:IReporteeArchiveExternalStreamedEC_GetAttachmentDataECStreamed_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IReporteeArchiveExternalStreamedEC" type="tns:IReporteeArchiveExternalStreamedEC">
    <wsp:PolicyReference URI="#CustomBinding_IReporteeArchiveExternalStreamedEC_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentDataECStreamed">
      <soap12:operation soapAction="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06/IReporteeArchiveExternalStreamedEC/GetAttachmentDataECStreamed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporteeArchiveExternalStreamedEC">
    <wsdl:port name="CustomBinding_IReporteeArchiveExternalStreamedEC" binding="tns:CustomBinding_IReporteeArchiveExternalStreamedEC">
      <soap12:address location="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>