EC Endpoint Client/Service References/ReporteeArchiveStreamed/ReporteeArchiveExternalStreamedEC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06" elementFormDefault="qualified" targetNamespace="http://www.altinn.no/services/Archive/ReporteeArchive/2013/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://st01.altinn.basefarm.net/ArchiveExternal/ReporteeArchiveExternalStreamedEC.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetAttachmentDataECStreamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentDataECStreamedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetAttachmentDataECStreamedResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>