EC Endpoint Client/Service References/BrokerServiceEC2/BrokerServiceExternalEC2SF1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.altinn.no/services/ServiceEngine/Broker/2015/06" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrokerServiceExternalEC2SF" targetNamespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IBrokerServiceExternalEC2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpToken>
                </sp:HttpToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp>
            </sp:IncludeTimestamp>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <mssp:MustNotSendCancel xmlns:mssp="http://schemas.microsoft.com/ws/2005/07/securitypolicy">
                </mssp:MustNotSendCancel>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body>
                      </sp:Body>
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing">
                      </sp:Header>
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body>
                      </sp:Body>
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpToken>
                            </sp:HttpToken>
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256>
                            </sp:Basic256>
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict>
                            </sp:Strict>
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp>
                        </sp:IncludeTimestamp>
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:EndorsingSupportingTokens>
                      <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:RequireThumbprintReference>
                            </sp:RequireThumbprintReference>
                            <sp:WssX509V3Token10>
                            </sp:WssX509V3Token10>
                          </wsp:Policy>
                        </sp:X509Token>
                        <sp:SignedParts>
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing">
                          </sp:Header>
                        </sp:SignedParts>
                      </wsp:Policy>
                    </sp:EndorsingSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy>
                        <sp:MustSupportRefThumbprint>
                        </sp:MustSupportRefThumbprint>
                      </wsp:Policy>
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens>
                        </sp:MustSupportIssuedTokens>
                        <sp:RequireClientEntropy>
                        </sp:RequireClientEntropy>
                        <sp:RequireServerEntropy>
                        </sp:RequireServerEntropy>
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
          </wsp:Policy>
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens>
            </sp:MustSupportIssuedTokens>
            <sp:RequireClientEntropy>
            </sp:RequireClientEntropy>
            <sp:RequireServerEntropy>
            </sp:RequireServerEntropy>
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/Imports">
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd0" namespace="http://www.altinn.no/services/2009/10" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd2" namespace="http://www.altinn.no/services/common/fault/2009/10" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd3" namespace="http://www.altinn.no/services/ServiceEngine/Broker/2015/06" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd4" namespace="http://schemas.altinn.no/services/ServiceEngine/Broker/2015/06" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd5" namespace="http://schemas.altinn.no/services/serviceEntity/2015/06" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd6" namespace="http://schemas.altinn.no/services/ServiceEngine/Broker/2020/01" />
      <xsd:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrokerServiceExternalEC2_Test_InputMessage">
    <wsdl:part xmlns:q1="http://www.altinn.no/services/2009/10" name="parameters" element="q1:Test" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_Test_OutputMessage">
    <wsdl:part xmlns:q2="http://www.altinn.no/services/2009/10" name="parameters" element="q2:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_Test_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q3:AltinnFault" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_InitiateBrokerServiceEC_InputMessage">
    <wsdl:part name="parameters" element="tns:InitiateBrokerServiceEC" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_InitiateBrokerServiceEC_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitiateBrokerServiceECResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_InitiateBrokerServiceEC_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q4:AltinnFault" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_GetAvailableFilesEC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFilesEC" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_GetAvailableFilesEC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFilesECResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_GetAvailableFilesEC_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q5:AltinnFault" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfAvailableFilesEC" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfAvailableFilesECResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q6:AltinnFault" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_ConfirmDownloadedEC_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmDownloadedEC" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_ConfirmDownloadedEC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmDownloadedECResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerServiceExternalEC2_ConfirmDownloadedEC_AltinnFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.altinn.no/services/common/fault/2009/10" name="detail" element="q7:AltinnFault" />
  </wsdl:message>
  <wsdl:portType name="IBrokerServiceExternalEC2">
    <wsdl:documentation>&lt;summary&gt;
            External interface for exposing service operations for Broker Service with certificates.
            Used for end user systems to handle file operations.
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" message="tns:IBrokerServiceExternalEC2_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestResponse" message="tns:IBrokerServiceExternalEC2_Test_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/2009/10/IAltinnContractBase/TestAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2_Test_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitiateBrokerServiceEC">
      <wsdl:documentation>&lt;summary&gt;
            Operation for initiating a broker service.
            &lt;/summary&gt;
            &lt;param name="userName"&gt;
            User name is the relevant user name for the enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="password"&gt;
            Password for the corresponding enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="brokerServiceInitiation"&gt;
            Defines metadata for initiating the broker service. Contains information as ... - mandatory parameter
            &lt;/param&gt;
            &lt;returns&gt;
            A Senders Reference for the initiated broker service
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/InitiateBrokerServiceEC" message="tns:IBrokerServiceExternalEC2_InitiateBrokerServiceEC_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/InitiateBrokerServiceECResponse" message="tns:IBrokerServiceExternalEC2_InitiateBrokerServiceEC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/InitiateBrokerServiceECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2_InitiateBrokerServiceEC_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFilesEC">
      <wsdl:documentation>&lt;summary&gt;
            Operation for retrieving a list of available files for download from the broker service.
            &lt;/summary&gt;
            &lt;param name="userName"&gt;
            User name is the relevant user name for the enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="password"&gt;
            Password for the corresponding enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="searchParameters"&gt;
            Set of parameters to perform the lookup based on
            &lt;/param&gt;
            &lt;returns&gt;
            A list of available BrokerServiceFileBE entities for download
            &lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/GetAvailableFilesEC" message="tns:IBrokerServiceExternalEC2_GetAvailableFilesEC_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/GetAvailableFilesECResponse" message="tns:IBrokerServiceExternalEC2_GetAvailableFilesEC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/GetAvailableFilesECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2_GetAvailableFilesEC_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfAvailableFilesEC">
      <wsdl:documentation>&lt;summary&gt;
            Checks whether there are files available for download for certain recipients
            &lt;/summary&gt;
            &lt;param name="userName"&gt;
            User name is the relevant user name for the enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="password"&gt;
            Password for the corresponding enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="pollParameters"&gt;Search parameters. Currently list of recipients&lt;/param&gt;
            &lt;returns&gt;Whether files are available for download&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/CheckIfAvailableFilesEC" message="tns:IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/CheckIfAvailableFilesECResponse" message="tns:IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/CheckIfAvailableFilesECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2_CheckIfAvailableFilesEC_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmDownloadedEC">
      <wsdl:documentation>&lt;summary&gt;
            Performs an update of the status of the file recipient and sets it to &lt;c&gt;Downloaded&lt;/c&gt; so that the
            file sender can see that the recipient has obtained the file.
            &lt;/summary&gt;
            &lt;param name="userName"&gt;
            User name is the relevant user name for the enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="password"&gt;
            Password for the corresponding enterprise certificate user - mandatory parameter
            &lt;/param&gt;
            &lt;param name="fileReference"&gt;
            The file reference value of the file that should be updated with the downloaded state.
            &lt;/param&gt;
            &lt;param name="reportee"&gt;
            The social security number or organization number of the file recipient.
            &lt;/param&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/ConfirmDownloadedEC" message="tns:IBrokerServiceExternalEC2_ConfirmDownloadedEC_InputMessage" />
      <wsdl:output wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/ConfirmDownloadedECResponse" message="tns:IBrokerServiceExternalEC2_ConfirmDownloadedEC_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/ConfirmDownloadedECAltinnFaultFault" name="AltinnFaultFault" message="tns:IBrokerServiceExternalEC2_ConfirmDownloadedEC_AltinnFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IBrokerServiceExternalEC2" type="tns:IBrokerServiceExternalEC2">
    <wsp:PolicyReference URI="#CustomBinding_IBrokerServiceExternalEC2_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.altinn.no/services/2009/10/IAltinnContractBase/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitiateBrokerServiceEC">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/InitiateBrokerServiceEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFilesEC">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/GetAvailableFilesEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIfAvailableFilesEC">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/CheckIfAvailableFilesEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDownloadedEC">
      <soap12:operation soapAction="http://www.altinn.no/services/ServiceEngine/Broker/2015/06/IBrokerServiceExternalEC/ConfirmDownloadedEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AltinnFaultFault">
        <soap12:fault use="literal" name="AltinnFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerServiceExternalEC2SF">
    <wsdl:port name="CustomBinding_IBrokerServiceExternalEC2" binding="tns:CustomBinding_IBrokerServiceExternalEC2">
      <soap12:address location="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>