EC Endpoint Client/Service References/BrokerServiceEC2/BrokerServiceExternalEC23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.altinn.no/services/ServiceEngine/Broker/2015/06" elementFormDefault="qualified" targetNamespace="http://schemas.altinn.no/services/ServiceEngine/Broker/2015/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd5" namespace="http://schemas.altinn.no/services/serviceEntity/2015/06" />
  <xs:import schemaLocation="https://at05.ai.basefarm.net/ServiceEngineExternal/BrokerServiceExternalEC2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BrokerServiceInitiation">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Contains metadata information for initiating a new Broker Service.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Manifest" nillable="true" type="tns:Manifest">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the manifest for this Broker Service
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientList" nillable="true" type="tns:ArrayOfRecipient">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the list of Recipients for this Broker Service
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerServiceInitiation" nillable="true" type="tns:BrokerServiceInitiation" />
  <xs:complexType name="Manifest">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a broker service manifest element with details about the broker service.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExternalServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the ExternalServiceCode.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExternalServiceEditionCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the ExternalServiceEditionCode.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileList" nillable="true" type="tns:ArrayOfFile">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a list of files for the broker service manifest.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PropertyList" nillable="true" type="tns:ArrayOfProperty">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a list of properties for the broker service manifest.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the Reportee. Meaning the organization number or social security number for the sender of the file.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendersReference" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the SendersReference of the file. A reference value defined by the file creator.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manifest" nillable="true" type="tns:Manifest" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a list of files for the broker service manifest
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckSum" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a checksum for the file
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the name of the file
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Property">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a list of properties for the broker service manifest
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PropertyKey" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a property key
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PropertyValue" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a property value
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="ArrayOfRecipient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipient" nillable="true" type="tns:Recipient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipient" nillable="true" type="tns:ArrayOfRecipient" />
  <xs:complexType name="Recipient">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a recipient for initiating a new broker service instance.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the PartyNumber (org. number or SSN) for the recipient
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipient" nillable="true" type="tns:Recipient" />
  <xs:complexType name="BrokerServiceSearch">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a set of parameters for performing a filtered search for broker service files
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the optional parameter to filter on ExternalServiceCode (must be used together with ExternalServiceEditionCode)
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExternalServiceEditionCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the optional parameter to filter on ExternalServiceEditionCode (must be used together with ExternalServiceCode)
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.altinn.no/services/serviceEntity/2015/06" name="FileStatus" type="q1:BrokerServiceAvailableFileStatus">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the mandatory parameter to filter on a specific file status.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MaxSentDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the optional parameter to filter on a maximum SentDate
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MinSentDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the optional parameter to filter on a minimum SentDate
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the mandatory parameter to filter on a specific reportee.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerServiceSearch" nillable="true" type="tns:BrokerServiceSearch" />
  <xs:complexType name="BrokerServiceAvailableFileList">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            This Business Entity is used as a return entity to represent a list of available broker service files for a recipient.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerServiceAvailableFile" nillable="true" type="tns:BrokerServiceAvailableFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerServiceAvailableFileList" nillable="true" type="tns:BrokerServiceAvailableFileList" />
  <xs:complexType name="BrokerServiceAvailableFile">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            This Business Entity is used as a return entity to represent available broker service files for recipients.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalServiceCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets external service code given when external parties are retrieving service information
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExternalServiceEditionCode" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets external service edition code when external parties are retrieving service information
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets File Name.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileReference" type="ser:guid">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets Broker Service File Reference.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FileSize" type="xs:long">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets File Size in bytes.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.altinn.no/services/serviceEntity/2015/06" minOccurs="0" name="FileStatus" type="q2:BrokerServiceAvailableFileStatus">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets status for this recipient
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsSftpDownloadOnly" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a value indicating whether the file is only downloadable by using SFTP
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReceiptID" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets Receipt Id.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reportee" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the reportee of the file. Meaning the organization number or social security number for the sender of the file.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SendersReference" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the senders reference of the file. A reference value defined by the file creator.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SentDate" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the sent date
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerServiceAvailableFile" nillable="true" type="tns:BrokerServiceAvailableFile" />
</xs:schema>